*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-shadow: 2px 2px 2px gray;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.bg_1
{
    width: 100vw;
    height: 100vh;
    background-image: url(../imeges/1517423307825.jpeg);
}
.bg_1 h2
{
    color: red;
}

.bg_2
{
    width: 100vw;
    height: 100vh;
    background-image: url(../imeges/istockphoto.jpg);
}
.bg_2 h2
{
    color: red;
}

.bg_3
{
    width: 100vw;
    height: 100vh;
    background-image: url(../imeges/mountain.jpg);
}
.bg_3 h2
{
    color: red;
}

.bg_4
{
    width: 100vw;
    height: 100vh;
    background-image: url(../imeges/nature1.jpg);
}
.bg_4 h2
{
    color: red;
}

.bg_5
{
    width: 100vw;
    height: 100vh;
    background-image: url(../imeges/nature1.jpg);
}
.bg_5 h2
{
    color: red;
}
